<style>

</style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>
<div class="row mt-5">
    <p class="lead text-center col-sm-12">Are you sure you want to delete <span class="font-weight-bold text-danger">"{{item}}"</span> ?</p>

    <form action="" method="POST" class="mx-auto">
        {% csrf_token %}
        <input class="btn mb-4 btn-danger btn-block" type="submit" value="Confirm">
        <a href="{% url 'index' %}" class="btn btn-primary btn-block">Cancel</a>
    </form>

</div>

</body>
