<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TO DO</title>
</head>
    <body>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

       <style>

            input{
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
            }

            input::placeholder {
              color: #eeeeee;
            }
            #input-div{
            	display:flex;
            	flex-direction: column;
            	justify-content: center;
            }


        </style>



    <div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body text-center" id="input-div">

		<form method="POST" action="/" class="form-group ">
		{% csrf_token %}
		{{form.title}}
		<input class="btn btn-outline-primary " type="submit" name="Create Task">
	</form>
		</div>


	<div class="card">
	<h4 class="card-title text-center display-4">Tasks</h4>
	{% for task in tasks %}
		<div class="row card-body">
		<div class="col-sm-8 border-bottom border-dark">
			{% if task.complete == True %}
			<strike>{{task}}</strike>
			{% else %}
			<span class="lead p-3">{{task}}</span>
			{% endif %}
		</div>
	       <a class="btn  btn-outline-primary col-sm-2 " href="{% url 'update_task' task.id %}">Update</a>
			<a class="btn  btn-outline-danger col-sm-2 " href="{% url 'delete_task' task.id %}">Delete</a>

		</div>
	{% endfor %}
	</div>
	</div>

</div>
    </body>
</html>